@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.section-header{
    margin-top: 4%;
    margin-left: 17%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 27px;
    border-bottom: 2px solid #005BEA;
    position: absolute;
}

.about-row{
    margin-left: 12%;
    margin-top: 10%;
    justify-content: center;
    text-align: center;
}

.icon-img{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 7px 9px;
    margin-bottom: 8px;
}

.icon-img:hover{
    background: #005BEA;
    box-shadow: 0px 0px 20px 0px gray;
    border:1px solid #005BEA;
    color: white;
}

.about-headers{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

.about-desc{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

@media screen and (max-width: 790px) {
   .about-row{
    display: block !important;
    margin-top: 15%;
    margin-left: 35%;
   }

   .section-header{
    margin-left: 37%;
   }
}

@media screen and (max-width: 432px) {
    .about-row {

        margin-top: 20%;
        margin-left: 38%;
    }
}

.business-header{
        margin-top: 12%;
        margin-left: 30%;
        font-family: 'Rubik', sans-serif;
        font-weight: 300;
        font-size: 27px;
}

.about-second-desc{
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    margin-left: 30%;
    font-size: 15px;
    line-height: 29px;
}

.about-image{
    width: 70%;
    height:300px;
    margin-top: 7%;
    float: right;
    margin-right: 10%;
    border: 6px solid rgba(0,91,234,.2) ;
}



@media screen and (max-width: 1200px) {
    .about-image {
        margin-top: 17%;
    }
}


@media screen and (max-width: 990px) {
    .about-image{
        margin-top: 17%;
    }
}

@media screen and (max-width: 900px) {
    .about-image {
       width: 82%;
       height: 300px;
    }
}


@media screen and (max-width: 790px) {
    .about-row-second {
        display: block !important;
        margin-top: 10%;
        margin-left: 25%;
    }

    .about-image{
        width: 90%;
        height: 200px;
        position: relative;
        left: 60px;
    }

    .about-second-desc{
        text-align: center;
        margin-left: 18%;
    }
}



@media screen and (max-width: 576px) {
    .about-row-second{
        margin-left: 21%;
    }

    .about-image{
        width: 100%;
    }
    
}

@media screen and (max-width: 397px) {

    .about-image {
        width: 125%;
    }

    .about-second-desc{
        line-height: 19px;
        
    }

}