@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.blog-header{
    margin-top: 5%;
    margin-left: 17%;
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 27px;
    border-bottom: 2px solid #005BEA;
    position: absolute;
}

.blog-row{
     margin-top: 13%;
    justify-content: center;
    text-align: center;
    margin-left: 17%;
}

.second-card{
    margin-top: -15% !important;
    border-radius: 20px !important;
    transition: all .5s;
    transition: 0.9s;
    animation: ease-in;
    overflow: hidden;
}

.second-card:hover{
    transform: scale(1.09);
}

.second-card-header{
    opacity: 0.9;
    font-family: 'Rubik', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

@media screen and (max-width: 1130px) {

    .blog-header{
        margin-left: 45%;
    }

    .blog-row {
        display: block !important;
        margin-left: 37%;
    }

    .row-col-1{
        margin-bottom: 5%;
        width: max-content;
    }
}

@media screen and (max-width: 540px) {

    .blog-header {
       margin-left: 29%;
    }

    .blog-row {
       text-align: center;
       margin-top: 20%;
       margin-left: 18%;
    }
}


@media screen and (max-width: 400px) {

    .blog-header {
        margin-left: 18%;
    }

    .blog-row {
        text-align: center;
        margin-top: 25%;
        margin-left: 8%;
    }
}


@media screen and (max-width: 360px) {

    .blog-header {
        margin-left: 10%;
    }

    .blog-row {
        text-align: center;
        margin-top: 28%;
        margin-left: 2%;
    }
}