@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-header {
  margin-top: 5%;
  margin-left: 7%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 27px;
  border-bottom: 2px solid #005bea;
  position: absolute;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("../assets/black.jpg");
  background-size: cover;
  margin-top: 10%;
}

.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact .contactInfo .box {
  position: relative;
  padding: 20px 0px;
  display: flex;
}

.contact .contactInfo .box .contact-icon {
  min-width: 60px;
  height: 60px;
  background: #fff;
  border-radius: 50%;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .contactInfo .box .contact-text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  color: #fff;
}

.contact .contactInfo .box .contact-text h3 {
  color: #0062ff;
}

.contactForm {
  width: 40%;
  padding: 40px;
  background: #fff;
  border-radius: 10px;
}

.contactForm h2 {
  font-size: 30px;

  font-weight: 500;
}

.contactForm .inputBox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  resize: none;
}

.contactForm .inputBox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox textarea:focus ~ span {
  color: black;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"] {
  width: 100px;
  background: #005bea;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

@media (max-width: 991px) {
  .contact {
    padding: 50px;
  }

  .contact-container {
    flex-direction: column;
  }

  .contact-container .contactInfo {
    margin-bottom: 40px;
  }

  .contact-container .contactInfo,
  .contactForm {
    width: 100%;
  }
}

@media screen and (min-width: 1900px) {
  .contact-header {
    margin-left: 16%;
  }
}
