@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

#pic-div {
  border: 1px solid #005bea;
  width: fit-content;
  border-radius: 300px;
  background: #005bea;
  margin-bottom: 10%;
  margin-top: 10% !important;
}

#pic-div:hover {
  box-shadow: 0px 0px 14px 0px black;
}

.hover-image {
  box-sizing: border-box;
  transition: all 0.5s;
  transition: 0.9s;
  animation: ease-in;
}

.hover-image:hover {
  transform: scale(1.1);
}

.feature-icon {
  font-size: 45px;
  margin-bottom: 15px;
  color: #005bea;
}

#feature-header {
  font-family: "Rubik", sans-serif;
}

#feature-para {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 15px;
  opacity: 0.9;
}

.feature-header {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 27px;
  border-bottom: 2px solid #005bea;
  position: absolute;
  margin-top: 3%;
}

#feature-res {
  margin-top: 10% !important;
}

@media screen and (max-width: 891px) {
  .hover-image {
    width: 350px;
    height: 350px;
  }
}

@media screen and (max-width: 800px) {
  .hover-image {
    width: 300px;
    height: 300px;
  }
}

@media screen and (max-width: 691px) {
  .hover-image {
    width: 260px;
    height: 260px;
  }
}

@media screen and (max-width: 600px) {
  .hover-image {
    width: 230px;
    height: 230px;
  }
}

@media screen and (max-width: 500px) {
  .hover-image {
    width: 280px;
    height: 280px;
  }
}
