@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.home-btn {
  border: 1px solid #ff8700 !important;
  text-transform: uppercase !important;
  transition: all 0.5s !important;
  width: fit-content !important;
  padding: 12px 14px !important;
  border-radius: 4px !important;
  letter-spacing: 1px !important;
  background-color: #ff8700 !important;
  font-family: "Rubik", sans-serif !important;
  transition: 0.3s !important;
  animation: ease-in !important;
  overflow: hidden !important;
  color: #fff !important;
}

.home-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 0px #ff8700 !important;
}

/* animation for image */
.img-fluid {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

#tag-h1 {
  font-size: 54px;
  font-family: "Rubik", sans-serif;
}

#tag-h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

@media screen and (max-width: 992px) {
  #main-div {
    margin-top: 10% !important;
  }
}

@media screen and (max-width: 500px) {
  #main-div {
    margin-top: 15%;
  }
}
