@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.nav-container {
    display: flex;
    background: transparent;
    padding: 5px 5px;
}

.nav-container.active {
    background: black;
}

.nav-logo {
    color: white;
    float: left;
}

.nav-container ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    position: relative;
    left: 520px;
    margin: 0px 35px;
    padding: 4px 0px;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}


.nav-container a {
    text-decoration: none;
    color: white;
}

.nav-container a:hover {
    text-decoration: underline;
}

.nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.5rem;
}

@media only screen and (max-width: 890px) {
    .nav-btn {
        visibility: visible;
        opacity: 1;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 79%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: black;
        transition: 1s;
        transform: translateY(-100vh);
    }

    .responsive_nav {
        transform: none;
    }

    .nav-close-btn {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav ul {
        display: block !important;
        margin-left: -8% !important;
        margin-top: -3% !important;
    }
}

@media screen and (max-width: 1286px) {
    .nav-container li {
        position: relative;
        right: 220px;
    }
}

@media screen and (max-width: 1115px) {
    .nav-container li {
        position: relative;
        right: 290px;
    }
}

@media screen and (max-width: 1040px) {
    .nav-container li {
        position: relative;
        right: 350px
    }
}

@media screen and (max-width: 980px) {
    .nav-container li {
        position: relative;
        right: 420px
    }
}

@media screen and (max-width: 911px) {
    .nav-container li {
        position: relative;
        right: 440px
    }
}