@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

li {
  list-style: none;
}

.logo {
  margin-bottom: 12px;
}
#ul-id {
  font-family: "Rubik", sans-serif;
}

/* used for scroll logic !don't touch */
.nav-container {
  background: transparent;
}

.nav-container.active {
  background: black;
}

.nav-container a {
  text-decoration: none;
  color: white;
}

.nav-container a.active {
  text-decoration: underline;
  color: #ffa200;
}

.active {
  color: #ffa200;
}

.nav-container a:hover {
  text-decoration: underline;
}

/* scroll logic css ends here */
