* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.service-header {
  margin-top: -7%;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 27px;
  border-bottom: 2px solid #005bea;
  position: absolute;
}

#header-service {
  font-family: "Rubik", sans-serif;
  font-size: 20px;
}

#para-service {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.service-icon {
  font-size: 30px;
  color: #005bea;
  margin-bottom: 15px;
}

#main-card {
  transition: all 0.5s;
  transition: 0.9s;
  animation: ease-in;
  overflow: hidden;
}

#main-card:hover {
  transform: scale(1.09);
}

#main-card:hover h1 {
  color: #005bea;
}
