@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

.footer-desc {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.link-desc a {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: black !important;
  margin-top: 10px;
}

.link-desc a:hover {
  color: orangered !important;
  text-decoration: underline !important;
}

footer h3 {
  font-family: "Rubik", sans-serif !important;
}

footer {
  background: url("../../utils/assets/footer-bg.png");
  background-size: cover;
}
